@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

$light-grey: #e0e2f4;
$yellow: #FFD369;
$blue: #0414a7;
$red: rgb(224, 2, 2);

$base-font-size: 20px;
$font-stack1: 'Electrolize', sans-serif;;
$font-stack: 'VT323', monospace;

.erroPage,
.title,
.p-tag,
.h-tag,
.link-item { color: $light-grey; }

.erroPage,
.p-tag { font: normal #{$base-font-size}/1.25rem $font-stack; }
.title { font: normal 2.75rem $font-stack; }
.h-tag{ 
    font: normal 2rem $font-stack; 
    padding-bottom: 1rem;
}
 
.erroPage { 
    height: 92vh;
    padding-top: 10%; 
    background-color: #222831;

    .main_container {
        width: 90%;
        margin: auto;
        max-width: 640px;

        .h-tag{
            @media screen and (max-width:768px) {
                font-size: 1.5rem;
            }
        }
        .p-tag{
            @media screen and (max-width:768px) {
                font-size: 1rem;
            }
        }
        .title {
            margin-bottom: 50px; 
            text-align: center;
            color: $red; 
            
            @media screen and (max-width:768px) {
                font-size: 2rem;
            }
      
            .bg {
              background: $yellow;
              border-radius: 5px;
              padding: 0 15px 2px 13px;  
            }
            
        }
        .nav{
            background-color: inherit;
            margin-top: 10%;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;

            @media screen and (max-width:425px){
                margin-top: 20%;
                flex-wrap: wrap;
                grid-template-columns:  1fr;
            }
        }

        .link-item {
            display: flex;
            padding: .5em 1em;
            border: 3px solid #FFD369;
            color: #EEEEEE;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: .2em;
            position: relative;
            overflow: hidden;
            transition: .3s;
            
            @media screen and (max-width:768px) {
                padding: .5em .7em;
                display: block;
                flex-wrap: wrap;
                font-size: 1rem;
            }
            &:hover {
                color: #222831;
                &:before {
                    top: 0;
                }
            }
            &:before {
                content: '';
                background: #FFD369;
                height: 100%;
                width: 100%;
                position: absolute;
                top: -100%;
                left: 0;
                transition: .3s;
                z-index: -1;
            
            }
        }
    }
}
