h3{
    padding-top: 2rem;

    @media screen and (max-width:768px){
       padding-top: 0;
    }

}
.icon-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
    @media screen and (max-width:768px){
        flex-wrap: wrap;
        justify-content: center;
    }
    
    
    .icons{
        border: 1px solid #201f1f17;
        border-radius: 10px;
        text-align: center;
        align-content: center;
        padding: 1.5rem;
        margin: .5rem;
        width: 100px;
        height: 100px;
        cursor: pointer;
        transition: transform .5s ease-in-out;
        opacity: .8;
        max-width: 100%;
        background-color: rgba(201, 193, 193, 0.1);

        &:hover{
            opacity: 1;
            box-shadow: 0px 10px 30px ;
            transform:translateY(5px);
             border-radius: 10px;
            
        }
    }
}