.portfolio-section{
    background-color: inherit;
    padding: 3% 7% ; 
     .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;

        .h-tags{
            font-size: 50px;
            color: var(--white);
            padding-bottom: 1rem;
            letter-spacing: 5px;
            @media screen and(max-width:768px) {
                font-size: 30px;
            }
        }

        .menu-item{
            margin: 10px;
            padding: 0;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            justify-content: center;
            align-items: center;
            // display: flex;
            // flex-wrap: wrap;
            // justify-content: space-evenly;
            // align-items: center;
            
            
            @media screen and (max-width:950px) {
            margin: 10px 0;
            grid-template-columns: repeat(6,1fr);

            }
            @media screen and (max-width:768px) {
            grid-template-columns: repeat(3,1fr);

            }
            @media screen and (max-width:500px) {
            grid-template-columns: repeat(2 ,1fr);
            display: grid;

            }
        }
        .data-card{
            padding-top: 20px;
            padding-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            background-color: inherit;
            max-width: 1100px;
            margin: auto;
            gap: 20px;
            color: #000;
            background-blend-mode: screen;

            @media screen and (max-width:768px){
                grid-template-columns: repeat(2,1fr);
            }
            @media screen and (max-width:500px){
                grid-template-columns: repeat(1,1fr);
            }

            .cardy{
                background-color: #303041;
                // background-color: rgb(38, 28, 66);
                -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
                box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);              }

            h4{
                font-size: 24px;
                margin: 20px 0 10px;
                color: var(--white);
                
                @media screen and(max-width:768px) {
                    font-size: 20px;
                }
            }

            p{
                font-size: 18px;
                margin-bottom: 20px;
                color: var(--white);

                @media screen and(max-width:768px) {
                    font-size: 16px;
                }
            }

            ul{
                display: flex;
                flex-direction: row;
                margin: 5px;
                // padding: 5px;
                justify-content: space-between;
                align-items: center;

                li{
                    margin: 5px;
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        cursor: pointer;
                        padding: 10px;
                        margin: 5px;
                        border-radius: 5px;
                        
                        
                        @media screen and(max-width:768px) {
                            font-size: 10px;
                        }
                        &.github{
                            background-color: rgb(31, 28, 28);
                            padding: 5px;
                            font-size: 15px;
                            color: var(--white);
                            @media screen and(max-width:768px) {
                                font-size: 12px;
                            }
                        }
                        &.demo{
                            background-image: linear-gradient(to bottom, #08337c 0%, #05698a 100%);                            
                            padding: 5px;
                            font-size: 15px;
                            color:var(--white);
                            @media screen and(max-width:768px) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
