.portfoliolist{
    font-size: 1.3rem ;
    margin: 10px;
    padding: 7px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, #08337c 0%, #05698a 100%);                            
    border-radius: 5px;
    font-weight: 600;
    // letter-spacing: 0.10em;
    text-align: center;
    @media screen and(max-width:768px){
        font-size: 1.2rem ;
    }
    @media screen and(max-width:350px){
        margin-right: 20px;
        font-size: 1rem ;

    }
    &:hover {
         color:silver;
    }
    &:hover:after{ 
        width: 100%; 
        left: 0; 
    }
    &:after{
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: silver  ;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    &.active{
        color: #000;
        border-radius: 5px;
    }
   
}
  
 


