@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);


.contact{
  background-color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  color: #222831;
  padding: 5% ;
}

img{
    width: 100%;
}
 
.contact .btn-danger-gradiant {
  background: #FFD369;
}
.contact .btn-danger-gradiant:hover {
  background: #e4bc5f;
  color: #FFD369;
}